@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home";
}

<div class="fundo-img">

    <div class="main-content">
        <h1>O MELHOR DO MUNDO</h1>
        <h3>EM UM SÓ LUGAR</h3>
    </div>

</div>
